@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";

body {
  background-color: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-prata: "Prata", serif;
  --font-inria: "Inria Serif", serif;
  --color-header: #daabb5;
  --color-headerborder: #b66878;
  --color-cerise: #d35269;
  --color-button: #d9d9d9;
  --color-text-dark: #3b0d0d;
  --color-text-light: #bd9a9a;
  --color-hover: #8b8b8b;
  --breakpoint-half: 77.9rem;
  --radius-5xl: 3rem;
}
